body {
    background: #121212;
    color: #FAFAFA;
}

.main-reading {
    padding: 20px;
}

.main-reading > h2 {
    padding: 20px;
    border: 2px solid #121212;
    display: inline-block;
    margin: 0 auto;
    border-radius: 0.6em;
}

.current_reading {
    display: grid;
    grid-template-columns: 1fr minmax(200px, auto);
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.text-readings {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.info-card {
    border: 2px solid #121212;
    padding: 20px;
    border-radius: 0.2em;
    margin: 20px;
}

.info-card > * {
    margin: 0;
}

#mapid { 
    height: 600px; 
    margin: 0 40px;
}

.reading .values {
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-gap: 20px;
}

canvas {
    margin-top: 20px;
}

.charts {
    padding: 20px;
    margin-top: 40px;
}

.readings {
    display: none;
}

.tab-pane {
    height: 600px;
}

.good {
    color: #00F11D;
    border: 2px solid #00F11D70;
}

.good::after {
    content: 'Good';
}

.moderate {
    color: #0079FF;
    border: 2px solid #0079FF70;
}

.moderate::after {
    content: 'Moderate';
}

.unhealthy {
    color: #FFEF00;
    border: 2px solid #FFEF0070;
}

.unhealthy::after {
    content: 'Unhealthy'
}

.very-unhealthy {
    color: #ff7f00;
    border: 2px solid #ff7f0070;
}

.very-unhealthy::after {
    content: "Very Unhealthy";
}

.hazardous {
    color: #ff0900;
    border: 2px solid #ff090070;
}

.hazardous::after {
    content: 'Hazardous'
}

footer {
    padding: 20px;
    text-align: right;
}

@media only screen and (max-width: 1400px) {
    .current_reading {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .current_reading .text-readings {
        flex-flow: row;
        justify-content: center;
        flex-wrap: wrap;
    }
  }
